<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME EJS</title>
</head>
<body>
    <h1>Welcome back Dheeraj!!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptates reiciendis tenetur repellat enim nobis veritatis sit placeat nesciunt beatae! Ab asperiores nostrum dolorum fugiat vero, ea odit dolores fugit.
    Non iusto placeat eveniet optio hic reprehenderit a debitis tenetur magni nihil quia, dicta, totam quasi libero incidunt, animi impedit modi temporibus fugiat quibusdam vel quaerat obcaecati. Modi, nihil sed!
    Quasi est recusandae quo cumque. Corporis earum incidunt, iste ea similique praesentium, aliquam natus autem illum ad a obcaecati quam rem quod ab beatae! In tempore harum aspernatur commodi sapiente.
    Facere molestias repellendus dicta unde quia neque quibusdam voluptatum voluptatibus, placeat quaerat adipisci, iusto libero et nisi necessitatibus deleniti dolorum earum. Molestias doloremque iure odit amet voluptatem delectus, repellendus in!
    Omnis, necessitatibus soluta laudantium voluptatibus alias fugit itaque saepe? Incidunt iusto repudiandae sit provident! Aliquid eos optio et assumenda ex quae in modi debitis neque consequatur, reiciendis expedita voluptates officia.</p>
</body>
</html>