doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style.css")

    body 
        //- nav.navbar
        //-     a(href="/") Home
        //-     a(href="/courses") Courses
        //-     a(href="/courses/add") Add Course
        //-     a(href="/users") Users
        header
            nav
                <a href="/">Home</a>
                <a href="/courses/add">Add Course</a>
                <a href="/courses">Course</a>
                <a href="/users">Users</a>
        h1 Courses List
        p All courses will be listed here.